.container {
    display: grid;
    height: 95vh;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1f;
    grid-template-rows: 100px 1fr 150px;
    grid-template-areas: 
                "header header header header"
                "main main main aside"
                "footer footer footer footer";
}
.header {
    grid-area: header;
    background-color: blue;
}
h1 {
    text-align: center;
}
.main {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 10px;
    text-align: center;
    background-color: greenyellow;
}
.part {
    margin: 10px;
    text-align: center;
    background-color: bisque;
}
.part_3 {
    grid-area: 3/1/4/5;
}
.part_1 {
    grid-area: 2/1/3/3;
}
.part_2 {
    grid-area: 2/3/3/5;
}
.aside {
    grid-area: aside;
    text-align: center;
    background-color: green;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-area: footer;
    background-color: blue;
}
.cection {
    margin: 10px;
    text-align: center;
    background-color: antiquewhite;
}
